
.vs/practiceWinForm/v17/.suo
.vs/practiceWinForm/v17/DocumentLayout.json
.vs/practiceWinforms/FileContentIndex/29c914b6-ce23-4215-89ca-eb7bc7534a3b.vsidx
.vs/practiceWinforms/FileContentIndex/4da76868-f8aa-42cc-bb18-32962b974022.vsidx
.vs/practiceWinforms/FileContentIndex/a09f3993-c26e-4a53-926a-3fe482375f37.vsidx
.vs/practiceWinforms/FileContentIndex/d4103748-d1fe-4696-9535-19bd349b859a.vsidx
.vs/practiceWinforms/FileContentIndex/d7a6a10e-6537-4ee1-8b8a-2241c476c375.vsidx
practiceWinforms/bin/Debug/net8.0-windows/practiceWinforms.deps.json
practiceWinforms/bin/Debug/net8.0-windows/practiceWinforms.dll
practiceWinforms/bin/Debug/net8.0-windows/practiceWinforms.exe
practiceWinforms/bin/Debug/net8.0-windows/practiceWinforms.pdb
practiceWinforms/bin/Debug/net8.0-windows/practiceWinforms.runtimeconfig.json
practiceWinforms/obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
practiceWinforms/obj/Debug/net8.0-windows/apphost.exe
practiceWinforms/obj/project.nuget.cache
practiceWinforms/obj/project.assets.json
practiceWinforms/obj/practiceWinforms.csproj.nuget.g.targets
practiceWinforms/obj/practiceWinforms.csproj.nuget.g.props
practiceWinforms/obj/practiceWinforms.csproj.nuget.dgspec.json
practiceWinforms/obj/practiceWinForm.csproj.nuget.g.targets
practiceWinforms/obj/practiceWinForm.csproj.nuget.g.props
practiceWinforms/obj/practiceWinForm.csproj.nuget.dgspec.json
practiceWinforms/obj/Debug/net8.0-windows/refint/practiceWinforms.dll
practiceWinforms/obj/Debug/net8.0-windows/ref/practiceWinforms.dll
practiceWinforms/obj/Debug/net8.0-windows/practiceWinforms.pdb
practiceWinforms/obj/Debug/net8.0-windows/practiceWinforms.GlobalUsings.g.cs
practiceWinforms/obj/Debug/net8.0-windows/practiceWinforms.genruntimeconfig.cache
practiceWinforms/obj/Debug/net8.0-windows/practiceWinforms.GeneratedMSBuildEditorConfig.editorconfig
practiceWinforms/obj/Debug/net8.0-windows/practiceWinforms.Form3.resources
practiceWinforms/obj/Debug/net8.0-windows/practiceWinforms.Form2.resources
practiceWinforms/obj/Debug/net8.0-windows/practiceWinforms.Form1.resources
practiceWinforms/obj/Debug/net8.0-windows/practiceWinforms.dll
practiceWinforms/obj/Debug/net8.0-windows/practiceWinforms.designer.runtimeconfig.json
practiceWinforms/obj/Debug/net8.0-windows/practiceWinforms.designer.deps.json
practiceWinforms/obj/Debug/net8.0-windows/practiceWinforms.csproj.GenerateResource.cache
practiceWinforms/obj/Debug/net8.0-windows/practiceWinforms.csproj.FileListAbsolute.txt
practiceWinforms/obj/Debug/net8.0-windows/practiceWinforms.csproj.CoreCompileInputs.cache
practiceWinforms/obj/Debug/net8.0-windows/practiceWinforms.csproj.BuildWithSkipAnalyzers
practiceWinforms/obj/Debug/net8.0-windows/practiceWinforms.assets.cache
practiceWinforms/obj/Debug/net8.0-windows/practiceWinforms.AssemblyInfoInputs.cache
practiceWinforms/obj/Debug/net8.0-windows/practiceWinforms.AssemblyInfo.cs
practiceWinforms/obj/Debug/net8.0-windows/practiceWinForm.GlobalUsings.g.cs
practiceWinforms/obj/Debug/net8.0-windows/practiceWinForm.GeneratedMSBuildEditorConfig.editorconfig
practiceWinforms/obj/Debug/net8.0-windows/practiceWinForm.assets.cache
practiceWinforms/obj/Debug/net8.0-windows/practiceWinForm.AssemblyInfoInputs.cache
practiceWinforms/obj/Debug/net8.0-windows/practiceWinForm.AssemblyInfo.cs
.vs/ProjectEvaluation/practicewinforms.projects.v7.bin
.vs/ProjectEvaluation/practicewinforms.metadata.v7.bin
